


/* ========= Global Styles ======= */
body{ 
    font-size: 20px;
    /* background: black; */
}

a{
    text-decoration: none;
    color: white;
    font-family: 'Libre Franklin', sans-serif;
}

a:hover{
    color:rgb(138, 138, 138);
}


.nav{
    
    background-color: black;
    color: white;
}

nav ul {
    display: flex;
    margin: 0px;
    padding: 0px;
    flex-wrap: wrap;
    justify-content: space-between;
}






/* ========= Banner Styles ======= */


.bannerIndex nav{
    background-color: rgb(54, 54, 54);
    padding: 5px;
    list-style-type: none;
}

.bannerIndex img{
    width: 50px;
    position: relative;
    offset: -50px;
}

nav li{
    display: inline-block;
    margin-right: 30px; 
}