


/* ========= Global Styles ======= */
body{ 
    font-size: 20px;
    /* background: black; */
}

a{
    text-decoration: none;
    color: white;
    font-family: 'Libre Franklin', sans-serif;
}

a:hover{
    color:rgb(138, 138, 138);
}


.nav{
    background-color: black;
    color: white;
}

nav ul {
    display: flex;
    margin: 0px;
    padding: 0px;
    flex-wrap: wrap;
    justify-content: space-between;
}

nav ul li{
    display: flex;
    justify-content: center;
    flex-direction: column;

}

nav ul li a{
    padding: 25px
}


/* ========= Banner Styles ======= */


.bannerIndex nav{
    background-color: rgb(54, 54, 54);
    padding: 5px;
    list-style-type: none;
}

.bannerIndex img{
    width: 50px;
    padding: 10px;
    position: relative;
    offset: -50px;
}



/* ==== Product Banner Styles ==== */

.drone_types{
    background-color: rgb(245, 245, 245);
    height: 200px;
} 

.drone_types ul li a{
    color:rgb(54, 54, 54);
}