



/*========= Top Banner Styles =======*/
.bannerLogo{    
    height: 30px;
    padding: 0px;
    position: relative;
}

.w3-bar a{ 
    padding: 0px;

}
.w3-right a{
    font-size: 20px;
}




/* ========= Prodiuct info Styles ======= */
#about{ 
    font-size: 20px;
}

/* ========= Global Styles ======= */


.product_links div:hover {
    background-color: rgb(228, 228, 228);;

}





/* ==== The team Styles ==== */
